# Pivot Tables with Pandas - Lab

## Introduction

In this lab, we'll learn how to make use of our newfound knowledge of pivot tables to work with real-world data.  We'll start by exploring 

## Objectives

You will be able to:

* Understand and explain what a multi-level hierarchical index is
* Understand, explain the difference and use df.pivot and pd.pivot_table
* Switch between “long” and “wide” in a DataFrame using stack() and unstack()
* Transform “wide” to “long” DataFrames using `melt`

## Getting Started

### Import Pandas and Matplotlib.pyplot Using Standard Aliases

In the cell below:

* Import `pandas` and set the standard alias
* Import `matplotlib.pyplot` and set the standard alias
* Run the ipython magic command to display matplotlib graphs inline within the notebook

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib notebook

## Load the Data
The data for this activity is stored in a file called `'causes_of_death.tsv'` which is a somewhat morbid dataset from the center for disease control. Note that the file extension .tsv indicates that this data is formatted slightly differently then the standard .csv, the difference being that it has 'tab seperated values' instead of 'comma seperated values'. As such, pass in the optional parameter `delimiter='\t'` into the `pd.read_csv()` method.

In [3]:
df = pd.read_csv('causes_of_death.tsv', delimiter='\t')

Now, display the head of the DataFrame to ensure everything loaded correctly.

In [4]:
df

,Notes,State,State Code,Ten-Year Age Groups,Ten-Year Age Groups Code,Gender,Gender Code,Race,Race Code,Deaths,Population,Crude Rate
0,NaN,Alabama,1,< 1 year,1,Female,F,American Indian or Alaska Native,1002-5,14,3579,Unreliable
1,NaN,Alabama,1,< 1 year,1,Female,F,Asian or Pacific Islander,A-PI,24,7443,322.5
2,NaN,Alabama,1,< 1 year,1,Female,F,Black or African American,2054-5,2093,169339,1236.0
3,NaN,Alabama,1,< 1 year,1,Female,F,White,2106-3,2144,347921,616.2
4,NaN,Alabama,1,< 1 year,1,Male,M,Asian or Pacific Islander,A-PI,33,7366,448.0
5,NaN,Alabama,1,< 1 year,1,Male,M,Black or African American,2054-5,2732,173241,1577.0
6,NaN,Alabama,1,< 1 year,1,Male,M,White,2106-3,2788,364029,765.9
7,NaN,Alabama,1,1-4 years,1-4,Female,F,Asian or Pacific Islander,A-PI,10,30421,Unreliable
8,NaN,Alabama,1,1-4 years,1-4,Female,F,Black or African American,2054-5,292,670420,43.6
9,NaN,Alabama,1,1-4 years,1-4,Female,F,White,2106-3,385,1389699,27.7
10,NaN,Alabama,1,1-4 years,1-4,Male,M,Black or African American,2054-5,400,686063,58.3
11,NaN,Alabama,1,1-4 years,1-4,Male,M,White,2106-3,561,1457208,38.5
12,NaN,Alabama,1,5-14 years,5-14,Female,F,Black or African American,2054-5,357,1777031,20.1
13,NaN,Alabama,1,5-14 years,5-14,Female,F,White,2106-3,620,3608616,17.2
14,NaN,Alabama,1,5-14 years,5-14,Male,M,Asian or Pacific Islander,A-PI,10,72892,Unreliable
15,NaN,Alabama,1,5-14 years,5-14,Male,M,Black or African American,2054-5,495,1827893,27.1
16,NaN,Alabama,1,5-14 years,5-14,Male,M,White,2106-3,841,3809162,22.1
17,NaN,Alabama,1,15-24 years,15-24,Female,F,Asian or Pacific Islander,A-PI,22,77467,28.4
18,NaN,Alabama,1,15-24 years,15-24,Female,F,Black or African American,2054-5,1203,1960325,61.4
19,NaN,Alabama,1,15-24 years,15-24,Female,F,White,2106-3,2226,3811460,58.4
20,NaN,Alabama,1,15-24 years,15-24,Male,M,American Indian or Alaska Native,1002-5,22,49356,44.6
21,NaN,Alabama,1,15-24 years,15-24,Male,M,Asian or Pacific Islander,A-PI,49,86058,56.9
22,NaN,Alabama,1,15-24 years,15-24,Male,M,Black or African American,2054-5,3333,1875654,177.7
23,NaN,Alabama,1,15-24 years,15-24,Male,M,White,2106-3,5710,3988037,143.2
24,NaN,Alabama,1,25-34 years,25-34,Female,F,American Indian or Alaska Native,1002-5,16,40537,Unreliable
25,NaN,Alabama,1,25-34 years,25-34,Female,F,Asian or Pacific Islander,A-PI,28,97652,28.7
26,NaN,Alabama,1,25-34 years,25-34,Female,F,Black or African American,2054-5,2098,1672441,125.4
27,NaN,Alabama,1,25-34 years,25-34,Female,F,White,2106-3,3615,3710682,97.4
28,NaN,Alabama,1,25-34 years,25-34,Male,M,American Indian or Alaska Native,1002-5,28,43754,64.0
29,NaN,Alabama,1,25-34 years,25-34,Male,M,Asian or Pacific Islander,A-PI,48,96274,49.9
...,...,...,...,...,...,...,...,...,...,...,...,...
4085,NaN,Wyoming,56,55-64 years,55-64,Female,F,Black or African American,2054-5,31,3730,831.1
4086,NaN,Wyoming,56,55-64 years,55-64,Female,F,White,2106-3,3546,551003,643.6
4087,NaN,Wyoming,56,55-64 years,55-64,Male,M,American Indian or Alaska Native,1002-5,165,9937,1660.5
4088,NaN,Wyoming,56,55-64 years,55-64,Male,M,Asian or Pacific Islander,A-PI,11,3021,Unreliable
4089,NaN,Wyoming,56,55-64 years,55-64,Male,M,Black or African American,2054-5,47,5066,927.8
4090,NaN,Wyoming,56,55-64 years,55-64,Male,M,White,2106-3,5545,578769,958.1
4091,NaN,Wyoming,56,65-74 years,65-74,Female,F,American Indian or Alaska Native,1002-5,144,4922,2925.6
4092,NaN,Wyoming,56,65-74 years,65-74,Female,F,Asian or Pacific Islander,A-PI,23,2627,875.5
4093,NaN,Wyoming,56,65-74 years,65-74,Female,F,Black or African American,2054-5,34,2324,1463.0
4094,NaN,Wyoming,56,65-74 years,65-74,Female,F,White,2106-3,5675,341149,1663.5
4095,NaN,Wyoming,56,65-74 years,65-74,Male,M,American Indian or Alaska Native,1002-5,166,4638,3579.1
4096,NaN,Wyoming,56,65-74 years,65-74,Male,M,Asian or Pacific Islander,A-PI,18,1321,Unreliable
4097,NaN,Wyoming,56,65-74 years,65-74,Male,M,Black or African American,2054-5,43,2513,1711.1
4098,NaN,Wyoming,56,65-74 years,65-74,Male,M,White,2106-3,7593,332999,2280.2
4099,NaN,Wyoming,56,75-84 years,75-84,Female,F,American Indian or Alaska Native,1002-5,126,2270,5550.7
4100,NaN,Wyoming,56,75-84 years,75-84,Female,F,Asian or Pacific Islander,A-PI,42,1260,3333.3
4101,NaN,Wyoming,56,75-84 years,75-84,Female,F,Black or African American,2054-5,40,1737,2302.8
4102,NaN,Wyoming,56,75-84 years,75-84,Female,F,White,2106-3,9337,210365,4438.5
4103,NaN,Wyoming,56,75-84 years,75-84,Male,M,American Indian or Alaska Native,1002-5,120,1716,6993.0
4104,NaN,Wyoming,56,75-84 years,75-84,Male,M,Asian or Pacific Islander,A-PI,19,837,Unreliable
4105,NaN,Wyoming,56,75-84 years,75-84,Male,M,Black or African American,2054-5,49,1392,3520.1
4106,NaN,Wyoming,56,75-84 years,75-84,Male,M,White,2106-3,10113,169410,5969.5
4107,NaN,Wyoming,56,85+ years,85+,Female,F,American Indian or Alaska Native,1002-5,72,637,11303.0
4108,NaN,Wyoming,56,85+ years,85+,Female,F,Asian or Pacific Islander,A-PI,25,336,7440.5
4109,NaN,Wyoming,56,85+ years,85+,Female,F,Black or African American,2054-5,37,758,4881.3
4110,NaN,Wyoming,56,85+ years,85+,Female,F,White,2106-3,13140,95575,13748.4
4111,NaN,Wyoming,56,85+ years,85+,Male,M,American Indian or Alaska Native,1002-5,41,356,11516.9
4112,NaN,Wyoming,56,85+ years,85+,Male,M,Asian or Pacific Islander,A-PI,12,244,Unreliable
4113,NaN,Wyoming,56,85+ years,85+,Male,M,Black or African American,2054-5,32,454,7048.5
4114,NaN,Wyoming,56,85+ years,85+,Male,M,White,2106-3,7982,49954,15978.7

Our data is currently in **_Wide_** format.  We can tidy this up by converting it to **_Long_** format by using groupby statements to aggregate our data into a much neater, more readable format. 

## Groupby Aggregations

Complete the following groupby statements.

### 1) Groupby State and Gender. Sum the values.

In [5]:
df.groupby(['State','Gender']).sum()

                             Notes  State Code   Deaths
State                Gender
Alabama              Female    0.0          40   430133
                     Male      0.0          41   430647
Alaska               Female    0.0          80    27199
                     Male      0.0          84    36135
Arizona              Female    0.0         180   396028
                     Male      0.0         188   442066
Arkansas             Female    0.0         195   258243
                     Male      0.0         210   264671
California           Female    0.0         282  2125965
                     Male      0.0         282  2181096
Colorado             Female    0.0         344   277787
                     Male      0.0         360   283496
Connecticut          Female    0.0         360   278653
                     Male      0.0         369   252637
Delaware             Female    0.0         340    68001
                     Male      0.0         350    67932
District of Columbia Female    0.0         352    46436
                     Male      0.0         363    47637
Florida              Female    0.0         528  1512891
                     Male      0.0         552  1618220
Georgia              Female    0.0         533   630265
                     Male      0.0         585   628752
Hawaii               Female    0.0         540    78586
                     Male      0.0         600    93658
Idaho                Female    0.0         544    97727
                     Male      0.0         608   102350
Illinois             Female    0.0         731   960785
                     Male      0.0         748   911386
Indiana              Female    0.0         702   523603
                     Male      0.0         738   508031
...                            ...         ...      ...
Oklahoma             Female    0.0        1760   327885
                     Male      0.0        1800   328650
Oregon               Female    0.0        1804   288677
                     Male      0.0        1804   287275
Pennsylvania         Female    0.0        1764  1199018
                     Male      0.0        1806  1114837
Rhode Island         Female    0.0        1496    93397
                     Male      0.0        1672    82869
South Carolina       Female    0.0        1710   360313
                     Male      0.0        1935   372258
South Dakota         Female    0.0        1518    63781
                     Male      0.0        1656    64818
Tennessee            Female    0.0        1880   533373
                     Male      0.0        1927   533354
Texas                Female    0.0        2112  1457648
                     Male      0.0        2208  1511566
Utah                 Female    0.0        2058   127955
                     Male      0.0        2156   132524
Vermont              Female    0.0        1150    48868
                     Male      0.0        1300    46432
Virginia             Female    0.0        2091   542518
                     Male      0.0        2244   528645
Washington           Female    0.0        2332   431062
                     Male      0.0        2385   434624
West Virginia        Female    0.0        1674   193664
                     Male      0.0        1674   192560
Wisconsin            Female    0.0        2420   436397
                     Male      0.0        2420   421232
Wyoming              Female    0.0        1792    37153
                     Male      0.0        1960    40233

[102 rows x 3 columns]

### 2) Groupby State and Gender and Race. Find the average values.

In [5]:
df.groupby(['State','Gender']).mean()

                             Notes  State Code        Deaths
State                Gender
Alabama              Female    NaN         1.0  10753.325000
                     Male      NaN         1.0  10503.585366
Alaska               Female    NaN         2.0    679.975000
                     Male      NaN         2.0    860.357143
Arizona              Female    NaN         4.0   8800.622222
                     Male      NaN         4.0   9405.659574
Arkansas             Female    NaN         5.0   6621.615385
                     Male      NaN         5.0   6301.690476
California           Female    NaN         6.0  45233.297872
                     Male      NaN         6.0  46406.297872
Colorado             Female    NaN         8.0   6460.162791
                     Male      NaN         8.0   6299.911111
Connecticut          Female    NaN         9.0   6966.325000
                     Male      NaN         9.0   6161.878049
Delaware             Female    NaN        10.0   2000.029412
                     Male      NaN        10.0   1940.914286
District of Columbia Female    NaN        11.0   1451.125000
                     Male      NaN        11.0   1443.545455
Florida              Female    NaN        12.0  34383.886364
                     Male      NaN        12.0  35178.695652
Georgia              Female    NaN        13.0  15372.317073
                     Male      NaN        13.0  13972.266667
Hawaii               Female    NaN        15.0   2182.944444
                     Male      NaN        15.0   2341.450000
Idaho                Female    NaN        16.0   2874.323529
                     Male      NaN        16.0   2693.421053
Illinois             Female    NaN        17.0  22343.837209
                     Male      NaN        17.0  20713.318182
Indiana              Female    NaN        18.0  13425.717949
                     Male      NaN        18.0  12391.000000
...                            ...         ...           ...
Oklahoma             Female    NaN        40.0   7451.931818
                     Male      NaN        40.0   7303.333333
Oregon               Female    NaN        41.0   6560.840909
                     Male      NaN        41.0   6528.977273
Pennsylvania         Female    NaN        42.0  28548.047619
                     Male      NaN        42.0  25926.441860
Rhode Island         Female    NaN        44.0   2746.970588
                     Male      NaN        44.0   2180.763158
South Carolina       Female    NaN        45.0   9481.921053
                     Male      NaN        45.0   8657.162791
South Dakota         Female    NaN        46.0   1932.757576
                     Male      NaN        46.0   1800.500000
Tennessee            Female    NaN        47.0  13334.325000
                     Male      NaN        47.0  13008.634146
Texas                Female    NaN        48.0  33128.363636
                     Male      NaN        48.0  32860.130435
Utah                 Female    NaN        49.0   3046.547619
                     Male      NaN        49.0   3011.909091
Vermont              Female    NaN        50.0   2124.695652
                     Male      NaN        50.0   1785.846154
Virginia             Female    NaN        51.0  13232.146341
                     Male      NaN        51.0  12014.659091
Washington           Female    NaN        53.0   9796.863636
                     Male      NaN        53.0   9658.311111
West Virginia        Female    NaN        54.0   6247.225806
                     Male      NaN        54.0   6211.612903
Wisconsin            Female    NaN        55.0   9918.113636
                     Male      NaN        55.0   9573.454545
Wyoming              Female    NaN        56.0   1161.031250
                     Male      NaN        56.0   1149.514286

[102 rows x 3 columns]

### 3) Groupby Gender and Race. Find the minimum values.

In [6]:
df.groupby(['State','Gender']).min()

                             Notes  State Code Ten-Year Age Groups  \
State                Gender
Alabama              Female    NaN           1           1-4 years
                     Male      NaN           1           1-4 years
Alaska               Female    NaN           2           1-4 years
                     Male      NaN           2           1-4 years
Arizona              Female    NaN           4           1-4 years
                     Male      NaN           4           1-4 years
Arkansas             Female    NaN           5           1-4 years
                     Male      NaN           5           1-4 years
California           Female    NaN           6           1-4 years
                     Male      NaN           6           1-4 years
Colorado             Female    NaN           8           1-4 years
                     Male      NaN           8           1-4 years
Connecticut          Female    NaN           9           1-4 years
                     Male      NaN           9           1-4 years
Delaware             Female    NaN          10           1-4 years
                     Male      NaN          10           1-4 years
District of Columbia Female    NaN          11           1-4 years
                     Male      NaN          11           1-4 years
Florida              Female    NaN          12           1-4 years
                     Male      NaN          12           1-4 years
Georgia              Female    NaN          13           1-4 years
                     Male      NaN          13           1-4 years
Hawaii               Female    NaN          15           1-4 years
                     Male      NaN          15           1-4 years
Idaho                Female    NaN          16           1-4 years
                     Male      NaN          16           1-4 years
Illinois             Female    NaN          17           1-4 years
                     Male      NaN          17           1-4 years
Indiana              Female    NaN          18           1-4 years
                     Male      NaN          18           1-4 years
...                            ...         ...                 ...
Oklahoma             Female    NaN          40           1-4 years
                     Male      NaN          40           1-4 years
Oregon               Female    NaN          41           1-4 years
                     Male      NaN          41           1-4 years
Pennsylvania         Female    NaN          42           1-4 years
                     Male      NaN          42           1-4 years
Rhode Island         Female    NaN          44           1-4 years
                     Male      NaN          44           1-4 years
South Carolina       Female    NaN          45           1-4 years
                     Male      NaN          45           1-4 years
South Dakota         Female    NaN          46           1-4 years
                     Male      NaN          46           1-4 years
Tennessee            Female    NaN          47           1-4 years
                     Male      NaN          47           1-4 years
Texas                Female    NaN          48           1-4 years
                     Male      NaN          48           1-4 years
Utah                 Female    NaN          49           1-4 years
                     Male      NaN          49           1-4 years
Vermont              Female    NaN          50           1-4 years
                     Male      NaN          50           1-4 years
Virginia             Female    NaN          51           1-4 years
                     Male      NaN          51           1-4 years
Washington           Female    NaN          53           1-4 years
                     Male      NaN          53           1-4 years
West Virginia        Female    NaN          54           1-4 years
                     Male      NaN          54           1-4 years
Wisconsin            Female    NaN          55           1-4 years
                     Male      NaN          55           1-4 years
Wyoming              Female    NaN          56           1-4 years
                     Male      NaN          56           1-4 years

                            Ten-Year Age Groups Code Gender Code  \
State                Gender
Alabama              Female                        1           F
                     Male                          1           M
Alaska               Female                        1           F
                     Male                          1           M
Arizona              Female                        1           F
                     Male                          1           M
Arkansas             Female                        1           F
                     Male                          1           M
California           Female                        1           F
                     Male                          1           M
Colorado             Female                        1           F
                     Male                          1           M
Connecticut          Female                        1           F
                     Male                          1           M
Delaware             Female                        1           F
                     Male                          1           M
District of Columbia Female                        1           F
                     Male                          1           M
Florida              Female                        1           F
                     Male                          1           M
Georgia              Female                        1           F
                     Male                          1           M
Hawaii               Female                        1           F
                     Male                          1           M
Idaho                Female                        1           F
                     Male                          1           M
Illinois             Female                        1           F
                     Male                          1           M
Indiana              Female                        1           F
                     Male                          1           M
...                                              ...         ...
Oklahoma             Female                        1           F
                     Male                          1           M
Oregon               Female                        1           F
                     Male                          1           M
Pennsylvania         Female                        1           F
                     Male                          1           M
Rhode Island         Female                        1           F
                     Male                          1           M
South Carolina       Female                        1           F
                     Male                          1           M
South Dakota         Female                        1           F
                     Male                          1           M
Tennessee            Female                        1           F
                     Male                          1           M
Texas                Female                        1           F
                     Male                          1           M
Utah                 Female                        1           F
                     Male                          1           M
Vermont              Female                        1           F
                     Male                          1           M
Virginia             Female                        1           F
                     Male                          1           M
Washington           Female                        1           F
                     Male                          1           M
West Virginia        Female                        1           F
                     Male                          1           M
Wisconsin            Female                        1           F
                     Male                          1           M
Wyoming              Female                        1           F
                     Male                          1           M

                                                         Race Race Code  \
State                Gender
Alabama              Female  American Indian or Alaska Native    1002-5
                     Male    American Indian or Alaska Native    1002-5
Alaska               Female  American Indian or Alaska Native    1002-5
                     Male    American Indian or Alaska Native    1002-5
Arizona              Female  American Indian or Alaska Native    1002-5
                     Male    American Indian or Alaska Native    1002-5
Arkansas             Female  American Indian or Alaska Native    1002-5
                     Male    American Indian or Alaska Native    1002-5
California           Female  American Indian or Alaska Native    1002-5
                     Male    American Indian or Alaska Native    1002-5
Colorado             Female  American Indian or Alaska Native    1002-5
                     Male    American Indian or Alaska Native    1002-5
Connecticut          Female  American Indian or Alaska Native    1002-5
                     Male    American Indian or Alaska Native    1002-5
Delaware             Female  American Indian or Alaska Native    1002-5
                     Male    American Indian or Alaska Native    1002-5
District of Columbia Female  American Indian or Alaska Native    1002-5
                     Male    American Indian or Alaska Native    1002-5
Florida              Female  American Indian or Alaska Native    1002-5
                     Male    American Indian or Alaska Native    1002-5
Georgia              Female  American Indian or Alaska Native    1002-5
                     Male    American Indian or Alaska Native    1002-5
Hawaii               Female  American Indian or Alaska Native    1002-5
                     Male    American Indian or Alaska Native    1002-5
Idaho                Female  American Indian or Alaska Native    1002-5
                     Male    American Indian or Alaska Native    1002-5
Illinois             Female  American Indian or Alaska Native    1002-5
                     Male    American Indian or Alaska Native    1002-5
Indiana              Female  American Indian or Alaska Native    1002-5
                     Male    American Indian or Alaska Native    1002-5
...                                                       ...       ...
Oklahoma             Female  American Indian or Alaska Native    1002-5
                     Male    American Indian or Alaska Native    1002-5
Oregon               Female  American Indian or Alaska Native    1002-5
                     Male    American Indian or Alaska Native    1002-5
Pennsylvania         Female  American Indian or Alaska Native    1002-5
                     Male    American Indian or Alaska Native    1002-5
Rhode Island         Female  American Indian or Alaska Native    1002-5
                     Male    American Indian or Alaska Native    1002-5
South Carolina       Female  American Indian or Alaska Native    1002-5
                     Male    American Indian or Alaska Native    1002-5
South Dakota         Female  American Indian or Alaska Native    1002-5
                     Male    American Indian or Alaska Native    1002-5
Tennessee            Female  American Indian or Alaska Native    1002-5
                     Male    American Indian or Alaska Native    1002-5
Texas                Female  American Indian or Alaska Native    1002-5
                     Male    American Indian or Alaska Native    1002-5
Utah                 Female  American Indian or Alaska Native    1002-5
                     Male    American Indian or Alaska Native    1002-5
Vermont              Female  American Indian or Alaska Native    1002-5
                     Male    American Indian or Alaska Native    1002-5
Virginia             Female  American Indian or Alaska Native    1002-5
                     Male    American Indian or Alaska Native    1002-5
Washington           Female  American Indian or Alaska Native    1002-5
                     Male    American Indian or Alaska Native    1002-5
West Virginia        Female  American Indian or Alaska Native    1002-5
                     Male    American Indian or Alaska Native    1002-5
Wisconsin            Female  American Indian or Alaska Native    1002-5
                     Male    American Indian or Alaska Native    1002-5
Wyoming              Female  American Indian or Alaska Native    1002-5
                     Male    American Indian or Alaska Native    1002-5

                             Deaths Population Crude Rate
State                Gender
Alabama              Female      10      10042     1122.3
                     Male        10       1129     1145.0
Alaska               Female      13     102924     1030.9
                     Male        12     121823      101.3
Arizona              Female      21     102824       11.9
                     Male        12     103961     1083.9
Arkansas             Female      11    1018198     1090.5
                     Male        10       1001    10880.2
California           Female      16    1004475       10.4
                     Male        29    1030759     1047.7
Colorado             Female      11     106977      104.0
                     Male        11     111391      102.1
Connecticut          Female      12     102394      103.2
                     Male        11    1162726       10.8
Delaware             Female      11     107606     1076.1
                     Male        13       1051     1067.9
District of Columbia Female      11       1027    11460.8
                     Male        10       1015    10640.4
Florida              Female      19   10221501       11.8
                     Male        10     118809      102.6
Georgia              Female      20    1079073      102.9
                     Male        12     105639     1087.9
Hawaii               Female      10     100371       10.1
                     Male        11       1000     1085.5
Idaho                Female      11      10249      105.1
                     Male        15      11992      104.1
Illinois             Female      13     100285       10.4
                     Male        15    1007276     1134.0
Indiana              Female      11     100170      111.8
                     Male        12      10145      104.3
...                             ...        ...        ...
Oklahoma             Female      11     109006    10153.0
                     Male        14      10379      116.3
Oregon               Female      10     109912    10586.3
                     Male        13     103338      102.5
Pennsylvania         Female      10   11268898       10.8
                     Male        20    1036557       10.5
Rhode Island         Female      10     100545       10.5
                     Male        11    1012849     1012.2
South Carolina       Female      11     102516     1066.4
                     Male        12     100765     1040.9
South Dakota         Female      14      10955     1005.2
                     Male        10     103997      113.8
Tennessee            Female      13    1071924     1013.7
                     Male        15      10170     1203.5
Texas                Female      11   10617273      102.4
                     Male        11    1024978     1061.5
Utah                 Female      10      10551    10298.6
                     Male        11     102397     1082.5
Vermont              Female      10       1104      108.9
                     Male        12       1366     1132.3
Virginia             Female      10    1175011       10.7
                     Male        17       1197       10.5
Washington           Female      33     105088       10.3
                     Male        17     148360      105.1
West Virginia        Female      15    1020189      108.0
                     Male        10      10358     1332.3
Wisconsin            Female      10     103992       10.4
                     Male        13     101066    11230.8
Wyoming              Female      10      10482    11303.0
                     Male        10      12243    11516.9

[102 rows x 10 columns]

### 4) Create a bar chart of the total number of deaths by state.
* Sort your columns in order (ascending or descending are both acceptable).  
* Also make sure to include a title, axes labels and have your graph be an appropriate size.

**_NOTE:_** In order to do this, slice the `Deaths` column after the `.groupby()` method, but before the `sum()` method.  You can even chain the `.plot()` call on after the `sum()` call and do this all on one line, excluding the labeling of the graph!

In [6]:
death_states = df.groupby(['State'])['Deaths'].sum()

In [12]:
death_states

State
Alabama                  860780
Alaska                    63334
Arizona                  838094
Arkansas                 522914
California              4307061
Colorado                 561283
Connecticut              531290
Delaware                 135933
District of Columbia      94073
Florida                 3131111
Georgia                 1259017
Hawaii                   172244
Idaho                    200077
Illinois                1872171
Indiana                 1031634
Iowa                     507247
Kansas                   448828
Kentucky                 752585
Louisiana                755914
Maine                    231756
Maryland                 800510
Massachusetts            987031
Michigan                1599942
Minnesota                702284
Mississippi              526127
Missouri                1008288
Montana                  158429
Nebraska                 277962
Nevada                   345245
New Hampshire            187917
New Jersey              1291554
New Mexico               281598
New York                2741575
North Carolina          1399009
North Dakota             107281
Ohio                    1987276
Oklahoma                 656535
Oregon                   575952
Pennsylvania            2313855
Rhode Island             176266
South Carolina           732571
South Dakota             128599
Tennessee               1066727
Texas                   2969214
Utah                     260479
Vermont                   95300
Virginia                1071163
Washington               865686
West Virginia            386224
Wisconsin                857629
Wyoming                   77386
Name: Deaths, dtype: int64

In [14]:
death_states1 = death_states.sort_values

In [15]:
death_states1

<bound method Series.sort_values of State
Alabama                  860780
Alaska                    63334
Arizona                  838094
Arkansas                 522914
California              4307061
Colorado                 561283
Connecticut              531290
Delaware                 135933
District of Columbia      94073
Florida                 3131111
Georgia                 1259017
Hawaii                   172244
Idaho                    200077
Illinois                1872171
Indiana                 1031634
Iowa                     507247
Kansas                   448828
Kentucky                 752585
Louisiana                755914
Maine                    231756
Maryland                 800510
Massachusetts            987031
Michigan                1599942
Minnesota                702284
Mississippi              526127
Missouri                1008288
Montana                  158429
Nebraska                 277962
Nevada                   345245
New Hampshire            187917
New Jersey              1291554
New Mexico               281598
New York                2741575
North Carolina          1399009
North Dakota             107281
Ohio                    1987276
Oklahoma                 656535
Oregon                   575952
Pennsylvania            2313855
Rhode Island             176266
South Carolina           732571
South Dakota             128599
Tennessee               1066727
Texas                   2969214
Utah                     260479
Vermont                   95300
Virginia                1071163
Washington               865686
West Virginia            386224
Wisconsin                857629
Wyoming                   77386
Name: Deaths, dtype: int64>

### Inspecting our Data

Let's go one step further and get a print-out of the data type of each column. 

In the cell below, get the `.info()` of our DataFrame, and note the data type that each column is currently stored as.

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4115 entries, 0 to 4114
Data columns (total 12 columns):
Notes                       0 non-null float64
State                       4115 non-null object
State Code                  4115 non-null int64
Ten-Year Age Groups         4115 non-null object
Ten-Year Age Groups Code    4115 non-null object
Gender                      4115 non-null object
Gender Code                 4115 non-null object
Race                        4115 non-null object
Race Code                   4115 non-null object
Deaths                      4115 non-null int64
Population                  4115 non-null object
Crude Rate                  4115 non-null object
dtypes: float64(1), int64(2), object(9)
memory usage: 385.9+ KB

Let's look at some samples from the Population column to see if the current encoding seems appropriate for the data it contains. 

In the cell below, display the population values for the first 5 rows in the DataFrame.

In [13]:
df.Population.head(5)

0      3579
1      7443
2    169339
3    347921
4      7366
Name: Population, dtype: object

Just to be extra sure, let's check the value counts to see how many times each unique value shows up in the dataset. We'll only look at the top 5. 

In the cell below, print out the top 5 `value_counts()` of the population column of the DataFrame.

In [15]:
df.Population.value_counts

<bound method IndexOpsMixin.value_counts of 0          3579
1          7443
2        169339
3        347921
4          7366
5        173241
6        364029
7         30421
8        670420
9       1389699
10       686063
11      1457208
12      1777031
13      3608616
14        72892
15      1827893
16      3809162
17        77467
18      1960325
19      3811460
20        49356
21        86058
22      1875654
23      3988037
24        40537
25        97652
26      1672441
27      3710682
28        43754
29        96274
         ...
4085       3730
4086     551003
4087       9937
4088       3021
4089       5066
4090     578769
4091       4922
4092       2627
4093       2324
4094     341149
4095       4638
4096       1321
4097       2513
4098     332999
4099       2270
4100       1260
4101       1737
4102     210365
4103       1716
4104        837
4105       1392
4106     169410
4107        637
4108        336
4109        758
4110      95575
4111        356
4112        244
4113        454
4114      49954
Name: Population, Length: 4115, dtype: object>

Clearly, this data should be stored as a numeric type, not a categorical type.  
 
### 5 a) Reformat the Population Column as an Integer
As stands, not all values will be able to be reformated as integers. Most of the cells in the the `Population` column contain integer values, but the entire column is currently encoded in string format because some cells contain the string `"Not Applicable"`.

We need to remove these rows before we can cast the Population column to an Integer data type. 

In the cell below:

* Slice the rows of `df` where the Population column is equal to `'Not Applicable'`.
* Use `to_drop.index`  to drop the offending rows from `df`. Be sure to set the `axis=0`, and `inplace=True`
* Cast the Population column to an integer data type using the `.astype()` function, with the single parameter `int64` passed in. 
* Print the Population column's `dtype` attribute to confirm it is now stored in `int64` format. 

**_NOTE:_** `.astype()` returns a copy of the column, so make sure you set the Population column equal to what this method returns--don't just call it!

In [19]:
#to_drop = df.loc[df['Population']=='Not Applicable']
df.drop(df['Population']=='Not Applicable', axis=0)

KeyError: '[False False False ... False False False] not found in axis'

### 5 b) Complete the Bar Chart

Now that we've reformatted our data, let's create a bar chart of the of the Mean Population by State.

In [ ]:
#Your code here

Below we will investigate how we can combine the **pivot** method along with the **groupby** method to combine some cool **stacked bar charts**!

## Using Aggregate Functions

In the cell below:

* Group `df` by `'State'` and  `'Gender'`, and then slice both `'Deaths'` and `'Population'` from it. Chain the `.agg()` method to return the mean, min, max, and standard deviation these sliced columns. 

**_NOTE:_** This only requires one line of code.  

By now, you've probably caught on that the code required to do this follows this pattern:    `([things to group by])[columns to slice].agg([aggregates to return])`

Then, display the head of this of this new DataFrame.

In [ ]:
# A sample groupby similar to above. 
grouped = None

Note how Pandas denotes a multi-hierarchical index in the DataFrame above.  

Let's inspect how a multi-hierarchical index is actually stored.  

In the cell below, display the `index` attribute of this DataFrame.

A two-dimensional array denotes the multiple levels, with each possible combination being a row in our `grouped` DataFrame.  

Let's reset the index, and then see how it changes. 

In the cell below, call the DataFrame's `reset_index()` function.  Then, display the head of the DataFrame.

In [ ]:
# First, reset the index. Notice the subtle difference; State and Gender are now columns rather then the index.
grouped = None

Note how the way the index is displayed has changed.  The index columns that made up the multi-hierarchical index before are now stored as columns of data, with each row given a more traditional numerical index. 

Let's confirm this by reexamining the `index` attribute of `grouped` in the cell below.

However, look again at the displayed DataFrame--specifically, the columns.  Resetting the index has caused the DataFrame to use a mutlti-indexed structure for the columns. 

In the cell below, examine the `columns` attribute of `grouped` to confirm this.

In [ ]:
#Notice that this causes columns to be MultiIndexed!

### Column Levels

Since we're working with miulti-hierarchical indices, we can examine the indices available at each level.

In the cell below, use the `get_level_values` method contained within the DataFrame's `columns` object to get the values for the outermost layer of the index.

Now, get the level values for the inner layer of the index.

## Flattening the DataFrame

We can also **_flatten_** the DataFrame from a multi-hierarchical index to more traditional one-dimensional index.  We do this by creating each unique combination possible of every level of the multi-hierarchical index.  Since this is a complex task, you do not need to write it--but take some time to examine the code in the cell below and see if you can understand how it works!

In [ ]:
#We could also flatten these:
cols0 = grouped.columns.get_level_values(0)
cols1 = grouped.columns.get_level_values(1)
grouped.columns = [col0 + '_' + col1 if col1 != '' else col0 for col0, col1 in list(zip(cols0, cols1))]
#The list comprehension above is more complicated then what we need but creates a nicer formatting and
#demonstrates using a conditional within a list comprehension.
#This simpler version works but has some tail underscores where col1 is blank:
#grouped.columns = [col0 + '_' + col1 for col0, col1 in list(zip(cols0, cols1))]
grouped.columns

Now that we've flattened the DataFrame, let's inspect a couple rows to see what it looks like. 

In the cell below, inspect the head of the `grouped` DataFrame.

## Using Pivots

Now, we'll gain some practice using the DataFrame class's built-in `.pivot()` method.  

In the cell below, call the DataFrame's pivot method with the following parameters:

* index = `'State'`
* columns = `'Gender'`
* values = `'Deaths_mean'`

Then, display the head of our new `pivot` DataFrame to see what it looks like.

In [ ]:
# Now it's time to pivot!
pivot = None

Great! We've just created a pivot table.  

Let's reset the index and see how it changes our pivot table. 

In the cell below, reset the index of the `pivot` object as we did previously.  Then, display the head of the object to see if we can detect any changes.

In [ ]:
# Again, notice the subtle difference of reseting the index:
pivot = None

### Visualizing Data With Pivot Tables

Now, we'll make use of our newly created pivot table to quickly create some visualizations of our data.  

In the cell below, call `pivot.plot()` with the following parameters:

* kind = `'barh'`
* figsize = `(15,8)`

In [ ]:
# Now let's make a sweet bar chart!!

Notice the Y-axis is currently just a list of numbers.  That's because when we reset the index, it defaulted to assigning integers as the index for the DataFrame.  Let's set the index back to `'State'`, and then recreate the visualization. 

In the cell below:

* Use the `pivot` object's `set_index()` method and set the index to `'State'`.  Then, chain this with a `.plot()` call to recreate the visualization using the code we used in the cell above.  

All the code in this cell should be done in a single line.  Just call the methods--do not rebind `pivot` to be equal to this line of code.

In [ ]:
#Where's the states?! Notice the y-axis is just a list of numbers.
#This is populated by the DataFrame's index.
#When we used the .reset_index() method, we created a new numbered index to name each row. 
#Let's fix that by making state the index again.

Now, that we've created a visualization with the states as the y-axis, let's print out the head of the `pivot` object again.

In [ ]:
# Also notice that if we call the DataFrame pivot again, state is not it's index.
#The above method returned a DataFrame with State as index and we plotted it,
#but it did not update the DataFrame itself.

Note that the index has not changed.  That's because the code we wrote when we set the index to the 'State' column returns a copy of the DataFrame object with the index set to 'State'--by default, it does not mutate original `pivot` object.  

If we want to do that, we'll need to capture the new object returned by updating the contents of the `pivot` variable.  

In the cell below, set the index of `pivot` to `'State'`.  Then, recreate the bar plot using this new object.

In [ ]:
#If we wanted to more permanently change the index we would set it first and then plot:
pivot = None

Again, let's check the head of the DataFrame to confirm that the index structure has changed.

Finally, let's stack these bar charts to see how that looks. 

In the cell below, recreate the visualization we did in the cell above, but this time, also pass in `stacked=True` as a parameter.

In [ ]:
# Lastly, let's stack each of these bars for each state.
#Notice we don't have to worry about index here, because we've already set it above.

## Stacking and Unstacking DataFrames

Now, let's get some practice stacking and unstacking DataFrames. 

### Stacking

In the cell below, let's display the head of `grouped` to remind ourselves of the format we left it in.

As we can see above, `grouped` is currently in a flattened format, with no hierarchical structure to it's indices.  

In the cell below, call the `grouped` DataFrame's `.stack()` method.

As we can see, the `stack()` method has stacked our DataFrame from a flattened format into one with a multi-hierarchical index! This is an easy, quick way to aggregate our data.

### Unstacking 

Now, we'll explore unstacking with the `pivot` DataFrame, which is already stacked into a pivot table. 

In the cell below, set unstack `pivot` using the object's `.unstack()` method. Then, display the object to see how it has changed.

In [ ]:
pivot = None

Note that it has unstacked the multi-hierarchical structure of the `pivot` DataFrame by one level. Let's call it one more time and display the results!

In the cell below, set pivot equal to `pivot.unstack()` again, and then display the `pivot` object to see how things have changed.

In [ ]:
pivot = None

After calling unstack a second time, we can see that `pivot` has a flattened structure, since it has been completely unstacked!

## Summary

In this lab, we learned how to:

* Use `groupby` to stack and slice data conditionally
* Use aggregate functions in combination with groupby statements
* Create pivot tables with pandas
* Leverage pivot tables and groupby statements to create quick visualizations
* `stack` and `unstack` DataFrames